
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wgt@200;300;400;600;700;900&display=swap');


* {

  margin: 0;
  padding: auto;
  box-sizing: border-box;
  font-family: monospace;
  
}

h1,h2,h3,h4,h5,h6{
  color:cadetblue;
  font-weight: 800;
}

h3,h4{
  font-size: large;
}

h5, h6{
  font-size: medium;
}

a{
  text-decoration: none;
  color: unset;
}

a:hover{
  color:unset;
}

ul{
  margin: 0;
  list-style: none;
}

.section__title{
  color: blue;
  font-weight: 800;
  font-size: 4rem;
}

.section__subtitle{
  color: azure;
  font-weight: 800;
  font-size: 2rem;

}

.section__description{
  color:blueviolet;
  font-size: 1rem;
  line-height: 40px;
}

section{
  padding: 50px 0px;
}

.btn{
  padding: 7px 15px;
  background:cornflowerblue;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover{
  color:#fff;
  background: cornflowerblue;
}

@media only screen and (max-width: 768px){
  section{
    padding: 30px 0px;
  }

  .section__title{
    font-size: 4rem;
  }

  .section__subtitle{
    font-size: 2rem;
  }
}